

.modal_wrap{
    display: none;
    width: 500px;
    height: 500px;
    position: fixed;
    top:50%;
    left: 50%;
    margin: -250px 0 0 -250px;
    background:#eee;
    z-index: 50; 
}
.black_bg{
    display: none;
    position: fixed; 
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0,0, 0.5);
    top:0;
    left: 0;
    z-index: 1;
}
.modal_close{
    width: 26px;
    height: 26px;
    position: absolute;
    top: -3px;
    right: -3px;
}
.modal_close> a{
    display: block;
    width: 100%;
    height: 100%;
    background:url(https://img.icons8.com/metro/26/000000/close-window.png);
    text-indent: -9999px;
}

.modalContents {
  margin: 0 auto;
  width: 350px;
  padding: 0 20px 32px;
  position:relative; top:100px;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
h2{font-size: 20px; font-weight: bold; padding:20px 0 7px 0;  border-bottom: #333 3px solid;}
.loginId {
    margin-top: 30px;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    border: 1px solid #e5e5e5;
    padding: 9px 12px;
    outline: none;
    box-sizing: border-box;
  }
  input::placeholder {
    color: #999999;
  }
  .loginPw {
    margin-top: 15px;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    border: 1px solid #e5e5e5;
    padding: 9px 12px;
    outline: none;
    box-sizing: border-box;
  }
  .login_btn{
    width:100%;
    height: 40px;
    font-size: 14px;
    padding: 13px 30px;
    cursor: pointer;
    background-color: black;
    color: white;
    line-height: 1px;
    margin-top: 20px;
    margin-bottom: 12px;
    border-radius: 3px;
  }
  .login_bottom a{font-size: 14px; color:#666;}
  .login_bottom a:nth-child(1){color:#333; font-weight: bold;}
  .login_bottom a::before{content:"|"; font-size:12px;display:inline-block; width:2px; height:18px; margin-right: 5px; color:#666;  vertical-align:middle;} 
  .login_bottom a:first-child::before{display:none;}