/* 제빵 */
.content{ 
    width: 70%;  margin: 100px auto 0; /*header height 100px 이라서*/
    display: flex;
    flex-wrap: wrap;
  }
  
  .content > h1{
    
    font-size: 2.5em;
    margin: 20px 0;
    color: #000;
  }
  
  .product_kind_wrap{
    width: 100%;
    border: 1px solid #000;
    display: block;
    color: #000;
  }
  .product_menu_top{
    width: 100%;
    height: 80px;
    justify-content: space-between;
    display: inline-flex;
    align-items: center;
  }
  
  .product_menu_top > h2{
    margin: 20px 0;
    padding-left: 40px;
    font-size: 1.5em;
    font-weight: bold;
  
    
  }
  
  .product_menu_button{
    padding-right: 50px;
    display: inline-flex;
    justify-content:center;  
    align-items: center;
    cursor: pointer;
  }
  
  .proudct_toggle_wrap{
    flex-wrap: wrap;
    display: none;
    font-size: 1.1em;
  }
  .proudct_toggle_wrap > ul{
    height: 100%;
    margin: 25px 0;  
    display: flex;    /*매번 부모영역에 flex 걸어줘야는건가*/
    align-items: center;
    padding-left: 45px;
  }
  
  .proudct_toggle_wrap > ul > li{
    width: 90px;
    display:inline-flex;
    list-style:none;
  }
  
  /* .proudct_toggle_wrap input{
    padding-right: 10px ;
  } */
  
  .hr{
    max-width: 1385px;
  }
  
  .proudct_toggle_wrap{
    display: block;
  }
  
  .product{
    width: 100%;
    display: block; 
  }
  
  .product  p{ /*p태그만 감싸는 영역 없어서 line-height가 맞을듯 ?*/
    height:70px ;
    padding-left: 30px;
    background-color: #000;
    line-height: 65px;
    margin: 30px 0;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
  }
  
  .product  ul{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    padding-left: 0;
    justify-content: flex-start !important;
   
  }
  .product li{
    list-style:none;
    display: flex;
    margin: 0 15px 0 15px;
    
    flex-direction: column;
    align-items: center;
    font-weight: bold;
  }
  
  .product img{ 
    list-style:none;
    width: 303px;
    height: 303px; 
    transition: transform 0.5s; /*-webkit-transition: -webkit-transform 0.5s; */
    border-radius: 10%;
  }
  .product img:hover{
  transform: scale(1.1, 1.1);/* -webkit-transform: scale(1.1, 1.1); */
  }
  
 
 
   .product dt{
    margin: 20px 0;
  } 
  /* 퀵메뉴 */
  .quickmenu{
    position: absolute;
    outline: 2px solid #000;
    width: 70px;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    transition: all ease 2s 0.2s;
  }
  .quickmenu div{
    width: 60%;
    height: 15%;
    display: flex;
    outline: 1px solid #000;
    margin: 0 auto;
    justify-content: center;
  }
  .quickmenu > div:last-child{
    width: 100%;
    text-align: center;
    height: 53%;
    outline: 1px solid #000;
    flex-direction: column;
    font-size: 0.7em;
  }
  
  .quickmenu div:last-child div{
    height: 100%;
    outline: 1px solid #000;
    width: 100%;
    margin: 0;
    
  }
  .quickmenu div img{
    width: 100%;
  }
  
  .quickmenu > div:nth-child(4){
    width: 100%;
    height: 7%;
    font-size: 0.7em;
    display: flex;
    align-items: center;
  }
  
  .recent_product{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .recent_product>ul{
    width: 60%;
    height: 100%;
    padding: 0;
    list-style: none;
  }
  /* 퀵메뉴 */
  .quickmenu{
    position: absolute;
    outline: 2px solid #000;
    width: 70px;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    transition: all ease 2s 0.2s;
  }
  .quickmenu div{
    width: 60%;
    height: 15%;
    display: flex;
    outline: 1px solid #000;
    margin: 0 auto;
    justify-content: center;
  }
  .quickmenu > div:last-child{
    width: 100%;
    text-align: center;
    height: 53%;
    outline: 1px solid #000;
    flex-direction: column;
    font-size: 0.7em;
  }
  
  .quickmenu div:last-child div{
    height: 100%;
    outline: 1px solid #000;
    width: 100%;
    margin: 0;
    
  }
  .quickmenu div img{
    width: 100%;
  }
  
  .quickmenu > div:nth-child(4){
    width: 100%;
    height: 7%;
    font-size: 0.7em;
    display: flex;
    align-items: center;
  }
  
  .recent_product{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .recent_product>ul{
    width: 60%;
    height: 100%;
    padding: 0;
    list-style: none;
  }


header a:hover{color:#666; }
header a:hover::after{width:inherit; }
header .sub{display:none; width:inherit;}

.navbar .sub li{float:none; margin:0; padding:0; padding-top: 20px; height:20px; width:inherit;  }
.navbar .sub ul{padding:0; margin-left:20px; display: inline-block; width:inherit;}
.navbar .sub a{font-size:15px; padding:0; white-space:nowrap; }
.navbar .sub a::after{display:none;}
.navbar .sub a:hover{text-decoration:underline;}




main{z-index: 1; position:relative;}
.info{margin: 250px 350px; }
.info h4{width:400px; font-size: 30px; font-weight: bold; 
    padding-bottom:7px;  margin:40px 0; 
    border-bottom: #333 3px solid;}
#main_view{overflow-x:hidden; height:750px;}
#main_view .slider{display:flex; width:70%;}
#main_view article{width:100%;  flex-shrink:0;
    background:center center / cover no-repeat; /*백그라운드 이미지 설정*/
    position:relative; min-height:600px; } 
#main_view article::before{content:""; display:block; 
width:100%; height:100%; background:#000; opacity:0.5;} 
#main_view .view1{background-image:url("../images/카페1.png");}
#main_view .view2{background-image:url("../images/제과1.png");}
#main_view .view3{background-image:url("../images/카페사진4.jpg");}
#main_view .view4{background-image:url("../images/카페내부6.jpg");}

#main_view .text{position:absolute; bottom:-100px;
left:50px; color:#fff; transform:translateX(50px); 
opacity:0; transition:all .5s ease-in-out;}

#main_view .swiper-slide-active .text{
    opacity:1; transform:translateY(0); transition-delay:.4s;}
    
#main_view .text h3{font-size:50px; line-height:1.1; margin:50px 0;}
#main_view .text p{font-size:18px; padding:20px 0; margin-bottom:10px; color:#000;}
#main_view .text a{display:block; width:110px; line-height:40px; text-align:center; 
    font-size:14px; border:1px solid #fff; }
#main_view .text a:hover{background:#fff; color:#000;}
#main_view .text i{padding-left:6px;}

#main_view .pager{position:absolute; bottom:16px; 
z-index:10; left:50%; transform:translateX(-50%);}
#main_view .pager span{display:block; float:left;
    width:6px; height:6px; border-radius:50%;
    border:1px solid #fff; margin:0 5px;}
#main_view .pager span.swiper-pagination-bullet-active{
    background:#fff;}
        
footer{ width: 100vw; height: 300px; margin: 0 auto; background: rgb(93, 80, 82);}
footer #container{ margin: auto; padding-left: 10vw; padding-top: 6vh;} 
footer #footer1, #footer2{display: inline-block; color:white; line-height: 2em;}
footer h2{font-size: 25px; font-weight: bold;}

/*반응형 사이즈 조절*/
@media screen and (max-width: 1580px) {
    .navbar {flex-direction: column; align-items: flex-start;}            
    .navbar_menu{margin:0;}
    #title{margin:10px 25px 0 110px; font-size:20px;}
    #title a{padding:15; width: inherit;}                
    .navbar_links {display: block; justify-content: right; margin-top:5px; margin-right:-30px; font-size:14px;}
    .navbar_toggleBtn {display: none;}
    .navbar_links.active {display: flex;}
    .sub{display:flex;}
    .sub ul li{text-align: left; } 
}
@media screen and (max-width: 1445px) {         
    #title{margin:0 15px 0 100px;}
    #title a{padding:0;}          
    .navbar_menu li {text-align: center; margin: 0 55px; padding:37px 20px; }                    
    .navbar_menu li:nth-child(3) .sub ul li{margin-left: -5px;}            
}
@media screen and (max-width: 1270px) {
    #title{margin:0 0 0 90px;}                     
    .navbar_menu li { margin: 0 50px; }
    #main_view .view .text h3{font-size:43px;}  
    .navbar_menu>ul>li:nth-child(3) {padding-left:0px;}  
}   
@media screen and (max-width: 1180px) {          
    #title{margin:0 0 0 80px;}            
    .navbar_menu li { margin:0 30px 0 30px;}           
}
@media screen and (max-width: 1010px) {
    #title{margin:0 0 0 70px;}
    .navbar_menu li {margin:0 20px; font-size:18px;}
}
@media screen and (max-width: 900px) {
    #title{margin:0 0 0 50px;}            
    .navbar_links {font-size:12px;}                         
}
@media screen and (max-width: 850px) {           
    #title{margin:0 0 0 30px;}
    .navbar_menu li {margin:0 15px; font-size:16px;}               
}
@media screen and (max-width: 785px) {            
    #title{display: none;}
    .navbar_menu li {margin:0 15px;}             
    
}
@media screen and (max-width: 700px) {
    .navbar_menu li {margin:0;}       
}
@media screen and (max-width: 580px) { 
    .navbar_menu li {padding:37px 10px;}      
    .navbar_menu>ul>li:nth-child(3) {margin-left:-10px;}  
    .location #map{width:400px; }  
}
/* @media screen and (max-height: 900px) {
    #main_view .view .text{top:260px;}
}
@media screen and (max-height: 800px) {
    #main_view .view .text{top:240px;}
}
@media screen and (max-height: 700px) {
    #main_view .view .text{top:220px;}
}
@media screen and (max-height: 600px) {
    #main_view .view .text{top:200px;}
    #main_view {height:600px;}
    #main_view article{height:600px;}
}  */
footer #footer1 {padding-right: 10vw;}