<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TimeStay.TimeStay_Product.mapper.ProductMapper">
    <select id="PcateLength" resultType="String" parameterType="String">
        select distinct b.Pcategory
        from Product a, productcategory b
        WHERE a.pcategory=b.pcategory and b.pcategorySub=#{pcategorySub} and a.pdelyn='N'
    </select>
    <select id="Pcategory" resultType="String" parameterType="String">
        select distinct b.Pcategory
        from Product a, productcategory b
        WHERE  a.pcategory=b.pcategory and b.pcategorySub=#{pcategorySub} and a.pdelyn='N'
    </select>
    <select id="PcategoryidxTest" resultType="ProductVO" parameterType="ProductVO">
        select a.*,b.pcategorySub
        from Product a , Productcategory b
        WHERE a.pcategoryidx=#{pcategoryidx} and b.pcategory=a.pcategory and b.pcategorySub=#{pcategorySub} and a.pdelyn='N'
    </select>
    <select id="ProductDetail" resultType="ProductVO" parameterType="ProductVO">
        select a.*,b.pcategorySub
        from Product a , Productcategory b
        WHERE b.pcategory=a.pcategory and a.ptitle=#{ptitle} and a.pdelyn='N'
    </select>
    <insert id="InsertReview" parameterType="ProductReviewVO">
            <![CDATA[
	        INSERT INTO ProductReview VALUES(
				Review_seq.nextval,#{userid},#{pidx},#{rtext},#{rscore}, 'N','xx',sysdate,null)

	        ]]>
        <selectKey order= "AFTER" resultType="integer" keyProperty="ridx">
            SELECT MAX(ridx) from ProductReview
        </selectKey>
    </insert>
    <select id="ReviewList" resultType="ProductReviewVO" parameterType="Integer">
        select * from ProductReview where pidx=#{pidx} order by ridx desc
    </select>
    <delete id="delReview" parameterType="ProductReviewVO">
        DELETE FROM ProductReview
        WHERE
        ridx=#{ridx} and pidx=#{pidx} and userid='admin'
    </delete>
    <select id="dateCheck" resultType="String" parameterType="ProductReviewVO">
        select rwdate from ProductReview where ridx=#{ridx} and pidx=#{pidx} and userid='admin'
    </select>
    <update id="upReview" parameterType="ProductReviewVO">
        update  ProductReview
        set
        rtext=#{rtext},rscore=#{rscore} ,Rwdate=sysdate
        where
        ridx=#{ridx} and pidx=#{pidx}
    </update>
</mapper>