<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TimeStay.TimeStay_Product.mapper.ProductMapper">
    <select id="test" resultType="ProductVO">
        select pidx from product
    </select>

    <select id="ProductList" resultType="ProductVO" parameterType="String">
        select *
        from Product
        WHERE Pcategory=#{Pcategory} and pdelyn='N'
    </select>
    <select id="Pcategory" resultType="ProductVO" parameterType="String">
        select Pcategory
        from Product
        WHERE Pcategory=#{Pcategory} and pdelyn='N'
    </select>
    <select id="PcategoryidxTest" resultType="ProductVO" parameterType="int">
        select *
        from Product
        WHERE Pcategoryidx=#{Pcategoryidx} and pdelyn='N'
    </select>
</mapper>