<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TimeStay.TimeStay_Product.mapper.ProductMapper">
    <select id="PcateLength" resultType="String" parameterType="String">
        select distinct b.Pcategory
        from Product a, productcategory b
        WHERE a.Pcategory=b.Pcategory and b.PcategorySub=#{PcategorySub} and a.pdelyn='N'
    </select>
    <select id="Pcategory" resultType="String" parameterType="String">
        select distinct b.Pcategory
        from Product a, productcategory b
        WHERE  a.Pcategory=b.Pcategory and b.PcategorySub=#{PcategorySub} and a.pdelyn='N'
    </select>
    <select id="PcategoryidxTest" resultType="ProductVO" parameterType="ProductVO">
        select a.*,b.pcategorySub
        from Product a , Productcategory b
        WHERE a.Pcategoryidx=#{Pcategoryidx} and b.pcategory=a.pcategory and b.PcategorySub=#{PcategorySub} and a.pdelyn='N'
    </select>
    <select id="ProductDetail" resultType="ProductVO" parameterType="ProductVO">
        select a.*,b.pcategorySub
        from Product a , Productcategory b
        WHERE b.pcategory=a.pcategory and a.Ptitle=#{Ptitle} and a.pdelyn='N'
    </select>
    <insert id="InsertReview" parameterType="ProductReviewVO">
            <![CDATA[
	        INSERT INTO ProductReview VALUES(
				Review_seq.nextval,'admin',#{Pidx},#{Rtext},#{Rscore}, 'N','xx',sysdate,null)

	        ]]>
        <selectKey order= "AFTER" resultType="integer" keyProperty="Ridx">
            SELECT MAX(Ridx) from ProductReview
        </selectKey>
    </insert>
    <select id="ReviewList" resultType="ProductReviewVO" parameterType="Integer">
        select * from ProductReview where Pidx=#{Pidx}
    </select>
</mapper>